<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style></style>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
<!--        image{ margin-left:300px;-->
<!--        }-->
div{margin-top:70px;
}
    </style>
</head>
<body style="background-image:url({% static 'b8.jpeg' %});background-repeat: no-repeat;
         background-size:100%;">
<form method="post" >{% csrf_token %}

    <div style="background-color:rgba(176, 140, 48, 0.82);width:400px;height:50px;margin-left:450px;">
        <h3 style="margin-top:50px;margin-top:30px;">Add Amount</h3></div>
    <div id="a" style="height:100px; width:400px;margin-top:20px;background-color:rgba(176, 140, 48, 0.82);margin-left:450px;">
       <h4>Enter amount to add</h4>
        <input type="number" name="amount2" style="height:30px; width:390px;
        background-color:rgba(97, 72, 3, 0.82);" placeholder="Enter amount to add">
    </div>
    <div id="b" style="height:100px; width:400px;background-color:rgba(176, 140, 48, 0.82);margin-top:30px;
    margin-left:450px;">
        <h4>4 Digit PIN</h4>
        <input type="password" name="psw1" style="height:30px; width:390px;background-color:rgba(97, 72, 3, 0.82);"
               placeholder="4 Digit pin">
    </div>
<button style="background-color:rgba(176, 140, 48, 0.82);width:100px;height:30px;margin-top:30px;
margin-left:600px;">Add amount</button>
</form>

</body>
</html>