<!DOCTYPE html>
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/4456ec25b8.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<html lang="en">
<head>
    <script>

        function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('div');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("h5")[0]; #used for getting the value without the list
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="search  by title..">
<form method="post">{% csrf_token %}
    <div id="myUL">
        {% for i in a %}
        {% if i.uid == id %}
        <div style="height:200px;width:350px;background-color: rgb(245, 243, 241);border-style: solid;border-color:grey;align:center;">
            <img src="{% static 'bnk2.jpeg' %}" style="height:70px;width:60px;float:left;">
            <h5>{{i.title}}</h5>
            <p style="text-align:justify;">{{i.content}}</p>
            {{i.date}}
            <i class="fa fa-thumbs-up" aria-hidden="true" style="margin-left:200px;"></i>
            <a href="http://127.0.0.1:8000/bank_app/wishlist/{{i.id}}">
                <i class="fa-sharp fa-regular fa-bookmark"></i>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</form>
</body>
</html>

