<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<form method="post">{% csrf_token %}

    <table border="collapse"  style="background-color: rgb(245, 243, 241);border-style: solid;border-color:grey;align:center;">
         {% for i in a %}
        <tr>
          <th><img src="{% static 'bnk2.jpeg' %}" style="height:70px;width:60px;float:left;">
              <h5 color="red">{{i.title}}</h5></th>
        <td><p style="text-align:justify;">{{i.content}}</p>
            {{i.date}}
        <button> <a href="http://127.0.0.1:8000/bank_app/editadmn/{{i.id}}">Edit</a></button>
            <button><a href="http://127.0.0.1:8000/bank_app/deladmin/{{i.id}}">Delete</a></button>
        </td>
        </tr>
        {% endfor %}


    </table>
 <a href="http://127.0.0.1:8000/bank_app/profile/" style="font-size:15px;color:green;">Back to profile</a>

</form>


</body>
</html>