<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
  <td>account holder name</td>
        <td><input type="text" name="name"></td>
    </tr>
    <tr>
        <td>
            account no:
        </td>
        <td>
            <input type="number" name="number">
        </td>
    </tr>
    <tr>
        <td>
            amount
        </td>
        <td><input type="number" name="amount"></td>
    </tr>

</table>

</body>
</html>